@font-face {
    font-family: "zNassim";
    font-style: normal;
    font-weight: normal;
    src: url("/font/znassim-regular.eot?#iefix") format("embedded-opentype"), url("/font/znassim-regular.woff") format("woff"), url("/font/znassim-regular.ttf") format("truetype");
}
.main-wrapper{
    margin: 0 auto;
    max-width: 1200px;
    min-width: 900px;
}
.ui-widget{
    font-family: zNassim !important;
}
.pui-menu .pui-menuitem{
    float: right;
}
.right-panel {
    float: right;
    width: 30%;
}
.main-panel{
    float: left;
    width: 67.8%;
}
.footer-panel{
    clear: both;
}